html{
    width:100%;
    height:100%;
    background-color: #aaa;
}

body {
    width:100%;
    height:100%;
    margin:0 0 0 0 ;
    background-color: #aaa;
    
}

.container-fluid{
    background-color:#eee;
    height:20%;

}

#myNavbar{
    padding-left:35%;
}

.navbar-header{
    padding-left:10%;
}


#banner{
    margin-top:-5%;
    width:100%;
    height:70%;
    background: url("note.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}


#Start {
    margin-top:-10%;
    margin-left:45%;
    
    
    
}

#LogIn{
    padding-top:10%;
}

#SignUp{
    padding-top:10%;
}


.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  #footer{
      width:100%;
      border-top: 1px solid grey ; 
      height:7%;
      position:absolute;
      bottom:0;
      padding-left:40%;
      background-color: #aaa;

  }

  #usage{
      width:100%;
      padding-left:25%;
      

  }

  #download{
      float:left;
      padding-right:10%;
  }

  #categories{
      float:left;
      padding-right:10%;
  }